<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"> -->
<link rel="stylesheet" href="../../public/css/footer.css">

<!-- Footer -->
<footer class="text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright: GlassCode Club<br>
    Contributers: | Deepanshu Tamta | Kushagra Kesarwani | Simarpreet Singh | Siddhartha | Shashank Negi |
  </div>
</footer>