<link rel="stylesheet" href="../../public/css/footer.css">

<!-- Footer -->
<footer class="text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3">
    Ganga Institute of Techonoly and Management, MDU Rohtak - College Project<br>
    Contributers: Abhishek Chauhan | Anuj Pawar | Vinay Mishra
  </div>
</footer>