<link href="../../public/css/header.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/e5a9d749f9.js" crossorigin="anonymous"></script>


  <nav class="navigation" id="navbar">
    <div class="container-fluid">
      <ul>
        <li>
          <a class="nav-link list-item1" href="/home"><i class="icon1"></i>Home</a>
        </li>
        <li>
          <a class="nav-link list-item2" href="/about"><i class="icon2"></i>About</a>
        </li>
        <li>
          <a class="nav-link list-item3" href="/logout"><i class="icon4"></i>Logout</a>
        </li>
        <li>
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" onkeyup="search()"
            id="search">
        </li>
        <% if( loc=="home" ){ %>
          <%- include("./search_home.ejs") %>
            <%} else if (loc=="details" ){ %>
              <%- include("./search_meetdetails.ejs") %>
                <%}%>
      </ul>
    </div>
  </nav>
</div>