*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 1.2;
    background-color: #198754;
    opacity: 0.6;
    color: #fff;
}