*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6f6f6;
}

#logo {
    width: 20%;
}

.welcome{
    /* font-family: 'Bad Script', cursive; */
    text-align: left;
    padding: 2%;
    padding-left: 0;
}
.welcome em h1 {
    opacity: 0.7;
}

.wrapper{
    width: 80%;
    min-width: fit-content;
    margin: auto;
    margin-top: 1%;
    text-align: center;
}

.controls{
    background-color: inherit;
    border: 0;
    outline: 0;
    background: none;
    margin: auto 5%;
    margin-right: auto;
}

p{
    font-size: 1.2rem;
}

.control-col {
    white-space: nowrap;
}

.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%) scale(0);
    transition: 200ms ease-in-out;
    width: fit-content;
    min-width: 180px;
    border: 1px solid #198754 ;
    z-index: 10;
    background-color: #f6f6f6 ;
    border-radius: 10%;
}

.popup.active{
    transform: translate(-50% , -50%) scale(1);
}

.popup-header{
    display: flex;
    align-items: center;
    
    border-bottom: 1px solid #198754;
    padding: 5%;
    justify-content: space-between;
}

.popup-header .title{
    font-size: 1.25rem;
    font-weight: 500;
}

.popup-header .close-button {
    cursor: pointer;
    outline: 0;
    border: 0;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.popup-body {
    padding: 5%;
}

.element {
    margin-bottom: -1%;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
}

#overlay.active{
    pointer-events: all;
    opacity: 1;
}

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#no-delete{
  position: absolute;
  right: 5%;
}

#passwordtext {
   margin: 3% 0 5% 0;
}

.links{
    height: 170px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    margin: 2%;
    background-color:#f6f6f6;
    border: solid 2px #198754;
    border-radius: 50%;
}

.link-div{
    display: flex;
    justify-content: center;
    align-items: center;   
}

.link-body {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%) scale(0);
    transition: 200ms ease-in-out;
    width: fit-content;
    min-width: 180px;
    z-index: 10;
    background-color: transparent;
    border-radius: 10%;
}

.link-body.active{
    transform: translate(-50% , -50%) scale(1);
}